<footer class="bg-primary mt-auto"> <!-- Footer with background color -->
    <p class="text-light fw-bold text-center pt-1">mycko made this</p> <!-- Footer text -->
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!-- Bootstrap JS -->
</body>
</html>
